<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="strWatch" value ="E:\テスト用" />
    <add key ="strWatchSec" value ="60" />
    <add key ="chkDelete" value ="false" />
    <add key="strCopy" value ="E:\コピー先"/>
    <add key ="strBK" value ="" />
    <add key ="strFilter" value =".txt" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>